body{
    margin:0;
    padding: 0;
    font-family: ropoto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header,.hero{
   
    background-color: #1f2937;
}
header{  
    display:flex;
    padding:20px;
    justify-content: space-between;
}
.logo{
    font-size:24px ;
    color: #f9faf8;
    font-weight: bold;
   

}
nav{
    display: flex;
    gap:20px;
    font-size: 20px;

}
.logo,.nav__item{
    text-decoration: none;
}
.nav__item{
    color: #cbd6c1;
    transition: color .3s;
}
.nav__item:hover{
    color: #fff;
}
/* hero */
.hero{
    display:flex;
    justify-content: space-around;
    color: #fff;
    height: 300px;
    padding: 50px ;
   
    
}
.hero__item{
  width: 40rem;
  justify-content: center;
    
}
.hero__content{
    align-self: center;
}
.hero__heading{
    font-size: 48px;
    font-weight:900;
    margin: 0;
}
.hero__text{
    font-size: 18px;
    color:#E5E7EB
}
.hero__image {
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.555);
}
.btn{
    background-color: #3882f6;
    color:#fff;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Random section */
.random__heading{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    color: #1f2937;
}
.random-items{
    display: flex;
    justify-content:center;
    gap:30px;
    padding-bottom: 50px ;
}
.random__item{
    height: 250px;
    width: 200px;
    text-align: center;
   
}
.random__image{
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 15px;
   }

/* testimonial section */
.testimonial{
    background-color:#E5E7EB ;
}
.testimonial__text{
    color: #1f2937;
    font-size:30px;
    font-style:italic;
    font-weight: lighter;
    padding: 50px 300px 0;
}
.testimonial__auther{
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding: 0 200px 50px;
}
/* Call section */
.call{
    background-color:#3882f6 ;
    display: flex;
    padding: 40px;
    border-radius: 10px;
    color: #E5E7EB ;
    justify-content: space-around;
    margin: 50px 200px;
}

.call__heading{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
  
}
.call .btn{
    border: #fff 2px solid;
    align-self: center;
}
.call p{
    margin-top: 0;
}
/* footer */
footer{
    background-color: #1f2937;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    text-align: center;
   
}

