body{
    margin: 0;
    padding: 0;
    font-family: ropoto,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header,.hero{
   
    background-color: #1f2937;
}
header{  
    display:flex;
    padding:20px;
    justify-content: space-between;
}
.logo{
    font-size:24px ;
    color: #f9faf8;
    font-weight: bold;
   

}
nav{
    display: flex;
    gap:20px;
    font-size: 20px;

}
.logo,.nav__item{
    text-decoration: none;
}
.nav__item{
    color: #cbd6c1;
    transition: color .3s;
}
.nav__item:hover{
    color: #fff;
}
/* hero */
.hero{
    display:flex;
    justify-content:center;
    color: #fff;
    gap:20px;
    height: 300px;
    padding: 100px;
    
}
.hero__item{
   flex:1;
    
}
.hero__content{
    align-self: center;
}
.hero__heading{
    font-size: 48px;
    font-weight:bolder;
    margin: 0;
}
.hero__text{
    font-size: 18px;
    color:#E5E7EB
}
.hero__image {
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.555);
}
.btn{
    background-color: #3882f6;
    color:#fff;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


